<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <form class="new-form" action="/posts/<%=post._id%>?_method=PUT" method="POST">
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input name="title" type="text" class="form-control" placeholder="<%=post.title%>"/>
      </div>
      <div class="mb-3">
        <label class="form-label">On second thought...</label>
        <textarea name="message" class="form-control" placeholder="<%=post.message%>"></textarea>
        <button type="submit" value="submit" class="btn btn-outline-primary">Post Edit</button>
      </div>
    </form>
  </body>
</html>
