<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="app.js"></script>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <header>
      <% if (currentUser) { %>
        <h1>Chatter | Hi, <%=currentUser.username%>!</h1>
      <% } else { %>
        <h1>Chatter</h1>
      <% } %>
    </header>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="posts-container">
      <% for (let i = posts.length - 1; i >= 0; i--) { %>
        <a id="message-link" href="/posts/<%=posts[i]._id%>">
          <div class="messages">
            <h3><%=posts[i].title%></h3>
            <p><%=posts[i].message%></p>
          </div>
        </a>
      <% } %>
    </div>
  </body>
</html>
